<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title}}</title>
  <meta name="description" content="Kiron Roy's blog." />
  <meta property="og:title" content="Kiron Roy's blog" />
  <meta property="og:description" content="The blog og Kiron Roy." />
  <meta property="og.url" content="https://kironroyblog.netlify.app/" />
  <link rel="canonical" href="https://kironroyblog.netlify.app/" />
  <meta property="og:image" content="https://kironroy.github.io/kirontwitter.png" />
  <meta property="og:image:alt" content="Kiron Roy's logo." />
  <meta property="og:locale:alt" content="en_US" />
  <meta property="og:type" content="website" />
  <meta property="twitter:card" content="summary_large_image" />
     <link rel="shortcut icon" href="favicon.svg" />
  <link href="https://kironroy.github.io/apple-touch-icon.svg" rel="apple-touch-icon" />
  <link href="https://kironroy.github.io/apple-touch-icon-152x152.svg" rel="apple-touch-icon" sizes="152x152" />
  <link href="https://kironroy.github.io/apple-touch-icon-167x167.svg" rel="apple-touch-icon" sizes="167x167" />
  <link href="https://kironroy.github.io/apple-touch-icon-180x180.svg" rel="apple-touch-icon" sizes="180x180" />
  <link href="https://kironroy.github.io/icon-hires.svg" rel="icon" sizes="192x192" />
  <link href="https://kironroy.github.io/icon-normal.svg" rel="icon" sizes="128x128" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script defer src="/admin/kironblog.js"></script>
</head>

<body>
    <button id="topBtn" onclick="topFunction()" title="Go to top">
        <strong>&#8593;</strong>
    </button>
    {% include 'header.njk'%}
    <main>
        {{content | safe}}
    </main>
    {% include 'footer.njk'%}
<script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</scripts
</body>

</html>