<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>

      <nav>

        <ul role="list" class="nav-list flex-group">
          
          <li>
            <a href="/">Blog</a>
          </li>
          <li>
            <a href="/blog/">Recent</a>
          </li>
          <li>
            <a href="https://kironroydev.netlify.app/">Kiron Roy</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>


