<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
 <div class="k-logo">
        <a href="https://kironroy.dev/"><img alt="Kiron Roy Logo" src="https://kironroy.dev/headshot_80px.svg"></a>
      </div>
      </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          
          <li>
            <a href="/">Blog</a>
          </li>
          <li>
            <a href="/blog/">Recent</a>
          </li>
          <li>
            <a href="https://kironroy.dev/">>Home</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>


