---
title: Kiron Roy's Blog
layout : 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">Kiron's Blog</h1>
      <p>Documenting front-end development. Sharing useful resources.</p>
      <p>Featured articles below. Or click/tap blog page to see the most recent posts.</p>
      <div class="flex-group">
        <a href="./blog" class="btn btn--neutral">recent articles</a>
        <a href="#featured-articles" class="btn btn--primary">Featured articles</a>
      </div>
    </div>
    <div>
    <!-- <img src="//unsplash.it/510" alt="" class="hero__image"> -->

    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured Articles</h2>
        <ul role="list" class="articles__list flow">
          {%- for post in collections.featured | reverse -%}
          {% include 'article-snippet.njk' %}
          {%- endfor %}
        </ul>

  </div>
</section>