---
title: Kiron Roy's Blog
layout : 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title">My Blog</h1>
      <p>Art, front-end web development. Other interesting topics.</p>
      <p>Featured articles below. Click/tap recent button to see what I have been up to. 👍</p>
      <div class="flex-group">
        <a href="#featured-articles" class="btn btn--primary">Featured</a>
        <a href="./blog" class="btn btn--neutral">Recent</a>
      </div>
    </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured</h2>
        <ul role="list" class="articles__list flow">
          {%- for post in collections.featured | reverse -%}
          {% include 'article-snippet.njk' %}
          {%- endfor %}
        </ul>

  </div>
</section>